html {
  box-sizing: border-box;
  color: #666;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  margin: 1.5rem;
}

img {
  padding: 1em;
  display: block;
  vertical-align: middle;
  width: 25em;
}

div {
  display:inline-block;
  vertical-align: middle;
  text-align: left;
  max-width: 25em;
}

a {
  text-align: center;
  border: 10px;
  border-color: #333
}

a:hover {
  background-color: #666;
}
